.mytable {
  background: #f9f9f9;
  border: none;
  margin-bottom: 1.25rem;
  table-layout: auto; }

.mypanel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f9f9f9;
  color: #333333; }
  
.sortable tr {
    cursor: pointer;
}